.header-container {
  display: flex;
  width: 100%;
  font-size: 16px;
}
.header-title {
  flex-grow: 8;
  font-size: 20px;
}
.header-right {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
.header-right > div {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right a:hover {
  color: #ffeb3b;
}
i {
  font-size: 20px !important;
  padding-right: 3px;
}
.header-right a{
  text-decoration: none;
  color: white;
}
.selected{
  color: #ffeb3b !important;
}